.content-wrapper {
    background-image: url("../imagenes/b.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
    .content{
        background-image: url("../imagenes/a.jpg");
        height: 90%;
        background-size: cover;
    }
}

#formulario{
    backdrop-filter: blur(5px);
    background-color: rgba(0,0,0,0.5);
    width: 640px;
    float:center;
}

#titulo{
    color: white;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-left: 10px;
}


.os-padding{
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.652);
}

.brand-link {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.652);
}

font{
    color: white;
    font-size: 15px;
}
.main-header{
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.652);
}
